.contactForm {
    height: 550px;
}

.inputBg {
    border-radius: 5px;
    background: #F4F4F4;
}

/*  #############################  mobile ########################### */

@media only screen and (max-width: 767px) {
    .fs-35 {
        font-size: 20px !important;
    }

    .contactForm {
        height: 600px !important;
    }
}